{% extends "blog/base.html" %}
{% block content %}
   <h1>About!</h1>
   <p>“Online career counselling” is to predict the accurate career of the student using all their general information and also the interest and strengths. Based on our own experiences and scenarios of most of the students, we have found out that there is a dilemma created in a student’s head about which career one should select and which path he/she should follow.  Choosing a wrong profession study could cause lots of damage and to avoid this chaos we came with this idea of helping struggling students to come out of that situation and perceive what they are interested in.</p>
{% endblock content %}

